html {
  scroll-behavior: smooth;
}

body {
  background-color: #f1f1f1;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --theame-color: #6070ff;
}

/* navingation bar */

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto 0 auto;
  justify-content: space-between;
  width: 100%;
}

a {
  text-decoration: none;
}

.logo a {
  display: flex;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: var(--theame-color);
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.logo:hover {
  transform: scale(0.9);
}

nav .desk {
  display: none;
}

nav .menu {
  margin-right: 20px;
}

.menu:hover {
  transform: scale(1);
}

main {
  display: flex;
  flex-direction: column;
  align-content: center;
}

/* introduction part */

.introduction {
  display: flex;
  flex-direction: column;
  background: url("intro-background.png");
  background-color: #fff;
  border-radius: 0 0 0 25px;
  background-repeat: no-repeat;
  background-size: 100%, cover;
  width: 100%;
  height: 100vh;
  margin: 0 auto 0 auto;
  padding: 0;
  align-content: center;
}

.solid-welcome {
  width: 291;
  height: 80px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 45px;
  padding: 73px 20px 0 20px;
}

.description {
  height: auto;
  margin-top: 99px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: #344563;
  padding: 0 20px;
}

.aboutme h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin: 200px 0 5px 20px;
  color: #172b4d;
}

.connect h2,
.con {
  color: var(--theame-color);
  margin-top: 0;
  padding: 0 20px 5px 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  transition: all 0.2s ease-out;
}

.connect h2:hover,
.con:hover {
  font-size: 14px;
}

.social {
  display: flex;
  width: 197px;
  height: 20px;
  font-size: 25px;
  justify-content: space-between;
  margin: 0 -20px;
  list-style-type: none;
  border-bottom-left-radius: 25px;
}

.social a {
  color: #505f79;
  padding: 5px;
}

.social a:hover {
  border: 1px inset var(--theame-color);
  border-radius: 20%;
}

/* project cards */

.projects {
  display: grid;
  width: 100%;
  height: 580px;
  margin: 0 auto 0 auto;
  row-gap: 20px;
}

.project {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  row-gap: 10px;
  width: 95%;
  height: 140vh;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin: 0 auto 0 auto;
}

.project img,
iframe {
  width: 100%;
  height: 60vh;
  margin: 10px 0;
  border-radius: 20px;
}

.project-title {
  width: auto;
  height: 36px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin: 0 0;
}

.project-maker {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 25px 0 25px -40px;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 16px;
  color: #7a869a;
}

.project-owner {
  list-style-type: none;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 16px;
  color: #344563;
}

.info {
  margin-top: 10px;
  padding-left: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #344563;
}

.tech {
  display: flex;
  width: 70%;
  margin: 0 20px 0 -40px;
  list-style-type: none;
  justify-content: space-between;
}

.tech li {
  width: 65px;
  height: 13px;
  display: flex;
  background-color: #ebebff;
  padding: 11px;
  border-radius: 10px;
  letter-spacing: 0.03em;
  color: #6070ff;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  margin-left: 0;
}

button,
.submit {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 12px;
  width: 120px;
  height: 43px;
  border: 1px solid #7f8cff;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 500;
  margin-left: 0;
  margin-top: 45px;
  color: #7f8cff;
  transition: all 0.5s ease-out;
}

.submit {
  justify-content: center;
}

button:hover,
.submit:hover {
  background: #6070ff;
  color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
}

.resume {
  width: 152px;
  margin-left: 20px;
}

.aboutme {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 1263px;
  margin: 3600px auto 0 auto;
  background: #fff;
  border-radius: 0 100px 0 0;
}

.info2 {
  margin-top: 10px;
  padding-left: 10px;
  color: #344563;
  font-size: 16px;
  line-height: 24px;
}

.skills {
  display: flex;
  height: 400px;
  flex-direction: column;
  justify-content: space-around;
  list-style-type: none;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.right {
  float: right;
  margin-right: 20px;
}

.rotate {
  transform: rotate(-90deg);
}

.languages li {
  list-style-type: none;
  display: flex;
  align-items: center;
  border-color: transparent;
  margin: 10px 20px 10px -45px;
  background-color: #eaeaf3;
  border-radius: 8px;
  padding-left: 10px;
  padding-top: 5px;
}

.languages img {
  align-items: center;
}

.languages li span {
  margin-left: 20px;
}

footer {
  width: 100%;
  height: 99vh;
  margin: -100px auto 0 auto;
  background: url(media/footer-layer.png) right top no-repeat, url(media/footer-background.png) right top no-repeat;
  background-size: 75% 100%, 100%;
  overflow: hidden;
}

footer div {
  margin-top: 100px;
}

.contact-me {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

footer div p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

footer fieldset {
  display: flex;
  height: 300px;
  flex-direction: column;
  gap: 20px;
  align-content: space-around;
  margin-top: 50px;
  border-color: transparent;
}

footer input {
  height: 40px;
  border-radius: 10px;
  padding-left: 10px;
  border-color: transparent;
}

footer input:hover {
  transform: scale(1);
}

footer input:nth-of-type(3) {
  width: 150px;
  align-self: flex-start;
}

footer textarea {
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 10px;
}

@media screen and (min-width: 769px) {
  header {
    width: 100%;
    position: fixed;
    height: 1.5vh;
    background-color: #fff;
  }

  /* navigation bar */
  nav ul {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 20%;
    height: fit-content;
  }

  nav {
    width: 100%;
    justify-content: space-between;
    background-color: #fff;
    padding: 0 10% 0 10%;
  }

  nav .desk {
    display: flex;
    list-style: none;
  }

  nav li {
    display: flex;
    margin: 0 2em;
    height: 5vh;
    align-items: center;
    justify-items: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0;
    margin-bottom: 0;
    transition: all 0.5s ease-out;
    border-radius: 10px;
  }

  .languages li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 120px;
    width: 25%;
    margin: 20px;
  }

  nav li:hover {
    background-color: var(--theame-color);
    color: #fff;
  }

  .menu {
    display: none;
  }

  /* introduction part */

  .introduction {
    background: url(media/intro-background-desk.svg);
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;
    margin-top: 72px;
    overflow: visible;
    border-radius: 0 0 0 150px;
  }

  .intro {
    width: 80%;
    margin: 0 auto 0 18%;
    display: flex;
    flex-direction: column;
    align-self: center;
  }

  .description {
    width: 86.5%;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin-top: 20px;
  }

  .well {
    margin-top: 100px;
  }

  .solid-welcome {
    margin-top: 108px;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
  }

  /* projetcs */

  .projects {
    margin-top: 142px;
  }

  .project {
    width: 80%;
    height: auto;
    flex-direction: row;
    margin-bottom: 142px;
  }

  .project div {
    margin-top: -68px;
    margin-left: 32px;
  }

  .project:nth-of-type(even) {
    flex-direction: row-reverse;
    text-align: left;
  }

  .project img,
  iframe {
    width: 50%;
    height: 450px;
    border-radius: 8px;
  }

  .project-title {
    display: inline-block;
    margin-top: 30px;
  }

  .project-maker {
    width: 95%;
    max-width: 278px;
  }

  .tech {
    max-width: 328px;
    justify-content: left;
  }

  /* about me */

  .aboutme {
    width: 100%;
    height: 140vh;
    flex-direction: row;
    margin-top: 2100px;
  }

  .intro2 {
    width: 45%;
    margin-left: 5%;
    margin-top: -58px;
  }

  .info2 {
    width: 70%;
  }

  .experince {
    width: 45%;
    margin-top: 142px;
    margin-right: 125px;
  }

  .languages {
    display: flex;
    margin-left: 0;
    padding-left: 0;
  }

  .languages li:last-of-type {
    min-width: 114px;
  }

  .tech li:last-of-type {
    margin-left: 20px;
  }

  .languages li span {
    margin-left: 10px;
  }

  .skills hr {
    color: #dfe1e6;
    width: 100%;
  }

  footer {
    height: 100vh;
    background: url(media/footerdesk.svg), url(media/layerdesktop.svg);
    background-size: cover, cover;
    margin-top: -60px;
  }

  footer input {
    height: 48px;
    border-radius: 2px;
  }

  .formcon {
    width: 38%;
    margin-left: auto;
    margin-right: auto;
  }

  .submit {
    margin-left: auto;
    margin-right: auto;
  }

  .mobi {
    display: none;
  }
}
