html {
  scroll-behavior: smooth;
}

body {
  background-color: #f5f5f5;
  font-family: "Poppins", sans-serif;
}

:root {
  --theame-color: #6070ff;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto 0 auto;
  justify-content: space-between;
  width: 100%;
  max-width: 558px;
}

a {
  text-decoration: none;
}

.logo a {
  display: flex;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: var(--theame-color);
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.logo:hover {
  transform: scale(0.9);
}

nav .menu {
  margin-right: 20px;
}

.menu:hover {
  transform: scale(1);
}

main {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.introduction {
  display: flex;
  flex-direction: column;
  background: url("intro-background.png");
  background-repeat: no-repeat;
  background-size: clamp(50px, 100%, 558px) 550px;
  height: 822px;
  max-width: 558px;
  margin: 0 auto 0 auto;
  padding: 0;
  border: 0;
  align-content: center;
}

.solid-welcome {
  width: 291;
  height: 80px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 45px;
  padding: 73px 20px 0 20px;
}

.description {
  width: 95%;
  height: auto;
  margin-top: 111px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: #344563;
  padding: 0 20px;
}

.connect h2,
.con {
  color: var(--theame-color);
  margin-top: 0;
  padding: 0 20px 5px 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.connect:hover {
  transform: scale(0.9);
}

.social {
  display: flex;
  width: 197px;
  height: 20px;
  font-size: 25px;
  justify-content: space-between;
  margin: 0 -20px;
  list-style-type: none;
  border-bottom-left-radius: 25px;
}

.social a {
  color: #505f79;
  padding: 5px;
}

.social a:hover {
  border: 1px inset var(--theame-color);
  border-radius: 20%;
}

.projects {
  display: grid;
  width: 100%;
  max-width: 558px;
  height: 580px;
  margin: -220px auto 0 auto;
  row-gap: 20px;
}

.project {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  row-gap: 10px;
  width: 95%;
  height: 650px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.project img {
  width: 100%;
  max-width: 600px;
  height: 220px;
  margin: 10px 0;
  border-radius: 20px;
}

.project-title {
  width: 295px;
  height: 36px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin: 0 0;
}

.project-maker {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 25px 0 25px -40px;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 16px;
  color: #7a869a;
}

.project-owner {
  list-style-type: none;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 16px;
  color: #344563;
}

.info {
  margin-top: 10px;
  padding-left: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #344563;
}

.tech {
  display: flex;
  width: 70%;
  margin: 0 20px 0 -40px;
  list-style-type: none;
  justify-content: space-between;
}

.tech li {
  width: 65px;
  height: 13px;
  display: flex;
  background-color: #ebebff;
  padding: 11px;
  border-radius: 10px;
  letter-spacing: 0.03em;
  color: #6070ff;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  margin-left: 0;
}

button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 12px;
  width: 120px;
  height: 43px;
  border: 1px solid #7f8cff;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 500;
  margin-left: 0;
  margin-top: 45px;
  color: #7f8cff;
}

button:hover {
  background: #6070ff;
  color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
}

.resume {
  width: 152px;
  margin-left: 20px;
}

.aboutme {
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: 558px;
  height: 1263px;
  margin: 2200px auto 0 auto;
  background: #fff;
  border-radius: 0 100px 0 0;
}

.aboutme h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin: 200px 0 5px 20px;
  color: #172b4d;
}

.info2 {
  margin-top: 10px;
  padding-left: 10px;
  color: #344563;
  font-size: 16px;
  line-height: 24px;
}

.skills {
  display: flex;
  height: 400px;
  flex-direction: column;
  justify-content: space-around;
  list-style-type: none;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.right {
  float: right;
  margin-right: 20px;
}

.rotate {
  transform: rotate(-90deg);
}

.languages li {
  list-style-type: none;
  display: flex;
  align-items: center;
  border-color: transparent;
  margin: 10px 20px 10px -45px;
  background-color: #eaeaf3;
  border-radius: 8px;
  padding-left: 10px;
  padding-top: 5px;
}

.languages img {
  align-items: center;
}

.languages li span {
  margin-left: 20px;
}

