:root {
  --theme-color: #6070ff;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

html::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px var(--theme-color);
  background-color: #fff;
}

body {
  background-color: #f1f1f1;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

/* navigation bar */
header {
  width: 100%;
  display: block;
  position: fixed;
  background-color: #fff;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 0 -50px;
  justify-content: space-around;
  width: 100%;
}

nav button {
  display: block;
  color: var(--theme-color);
  border: none;
  background: transparent;
  height: 12px;
  width: 18px;
  margin-right: 10px;
  z-index: 2;
}

a {
  text-decoration: none;
}

.logo a {
  display: flex;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: var(--theme-color);
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.logo:hover {
  transform: scale(0.9);
  color: #6070ff;
}

nav .desk {
  display: none;
}

nav .desk1 {
  display: block;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgba(96, 112, 255, 0.8);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  overflow-x: hidden;
  transition: all 0.5s ease-out;
  margin: 0 0 0 -40px;
  overflow: hidden;
}

nav .content {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 40px;
  color: #fff;
  align-items: flex-start;
  width: 90%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  margin: 50px;
  list-style-type: none;
}

.content a {
  color: white;
}

.fa-xmark {
  font-size: 20px;
  line-height: 20px;
  color: white;
}

#menu:hover {
  transform: scale(1);
}

main {
  display: flex;
  flex-direction: column;
  align-content: center;
}

/* introduction part */
.introduction {
  display: flex;
  flex-direction: column;
  background: url("intro-background.png");
  background-color: #fff;
  border-radius: 0 0 0 25px;
  background-repeat: no-repeat;
  background-size: 100%, cover;
  width: 100%;
  height: 100vh;
  margin: 59px auto 0 auto;
  padding: 0;
  align-content: center;
}

.solid-welcome {
  width: 291;
  height: 80px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 45px;
  padding: 73px 20px 0 20px;
}

.description {
  height: auto;
  margin-top: 99px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: #344563;
  padding: 0 20px;
}

.aboutme h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin: 200px 0 5px 20px;
  color: #172b4d;
}

.connect h2,
.con {
  color: var(--theme-color);
  margin-top: 0;
  padding: 0 20px 5px 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  transition: all 0.2s ease-out;
}

.connect h2:hover,
.con:hover {
  font-size: 14px;
  color: #6070ff;
}

.social {
  display: flex;
  width: 197px;
  height: 20px;
  font-size: 25px;
  justify-content: space-between;
  margin: 0 -20px;
  list-style-type: none;
  border-bottom-left-radius: 25px;
}

.social a {
  color: #505f79;
  padding: 5px;
}

.social a:hover {
  border: 1px inset var(--theme-color);
  border-radius: 20%;
}

/* project cards */
.projects {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: 0 auto 0 auto;
  row-gap: 20px;
}

.project {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  row-gap: 10px;
  width: 95%;
  height: 116vh;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin: 0 auto 0 auto;
}

.project img,
iframe {
  width: 100%;
  height: 60vh;
  margin: 10px 0;
  border-radius: 20px;
}

.project-title {
  width: auto;
  height: 36px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin: 0 0;
}

.project-maker {
  display: flex;
  width: 46%;
  justify-content: space-between;
  margin: 25px 0 25px -40px;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 16px;
  color: #7a869a;
}

.project-owner {
  list-style-type: none;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 16px;
  color: #344563;
}

.info {
  margin-top: 10px;
  padding-left: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #344563;
}

.tech {
  display: flex;
  width: 70%;
  margin: 0 20px 0 -53px;
  list-style-type: none;
  justify-content: space-between;
  max-width: 206px;
}

.tech li {
  width: 65px;
  height: 13px;
  display: flex;
  background-color: #ebebff;
  padding: 11px;
  border-radius: 10px;
  letter-spacing: 0.03em;
  color: #6070ff;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  margin-left: 12px;
}

main button,
.submit {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 12px;
  width: 120px;
  height: 43px;
  border: 1px solid #7f8cff;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 500;
  margin-left: 0;
  margin-top: 45px;
  color: #7f8cff;
  transition: all 0.5s ease-out;
}

.submit {
  justify-content: center;
  width: fit-content;
}

main button:hover,
.submit:hover {
  background: #6070ff;
  color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
}

.resume {
  width: 152px;
  margin-left: 20px;
}

.aboutme {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 1263px;
  margin: 150px auto 0 auto;
  background: #fff;
  border-radius: 0 100px 0 0;
}

.info2 {
  margin-top: 10px;
  padding-left: 10px;
  color: #344563;
  font-size: 16px;
  line-height: 24px;
}

.skills {
  display: flex;
  height: 400px;
  flex-direction: column;
  justify-content: space-around;
  list-style-type: none;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.right {
  float: right;
  margin-right: 20px;
}

.rotate {
  transform: rotate(-90deg);
}

.languages li {
  list-style-type: none;
  display: flex;
  align-items: center;
  border-color: transparent;
  margin: 10px 20px 10px -45px;
  background-color: #eaeaf3;
  border-radius: 8px;
  padding-left: 10px;
  padding-top: 5px;
}

.languages img {
  align-items: center;
}

.languages li span {
  margin-left: 20px;
}

footer {
  width: 100%;
  height: 99vh;
  margin: 0 auto 0 auto;
  background: url(media/footer-layer.png) right top no-repeat, url(media/footer-background.png) right top no-repeat;
  background-size: 75% 100%, 100%;
  overflow: hidden;
}

footer div {
  margin-top: 100px;
}

.contact-me {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

footer div p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

footer fieldset {
  display: flex;
  height: fit-content;
  flex-direction: column;
  gap: 20px;
  align-content: space-around;
  margin-top: 26px;
  border-color: transparent;
}

footer input {
  height: 40px;
  border-radius: 10px;
  padding-left: 10px;
  border-color: transparent;
}

footer input:hover {
  transform: scale(1);
}

footer input:nth-of-type(3) {
  width: 150px;
  align-self: flex-start;
  margin: 0 0 45px 0;
}

footer textarea {
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 10px;
}

footer small {
  width: fit-content;
  height: max-content;
  color: red;
  background-color: white;
  border-radius: 16px;
  padding: 2.125%;
}

.card-container {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(193, 199, 208, 70%);
  height: auto;
  z-index: 5;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 95vh;
  margin: 6.25%;
  overflow: scroll;
  z-index: 5;
  background-color: #fff;
  border-radius: 16px;
}

.card h3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin: 0 auto 3.25% 6.25%;
}

.card-iframe,
.card-image {
  max-width: 700px;
  width: 87.5%;
  margin: 3.125% 6.25%;
  height: 35%;
  border-radius: inherit;
}

.card-cross {
  position: relative;
  font-size: 20px;
  color: #67798e;
  width: 30px;
  padding-top: 0;
  transition: 0.3s;
  top: 5%;
  left: 88%;
  height: 20px;
  z-index: 5;
}

.card-cross:hover {
  color: #1a2236;
}

.card-list {
  display: flex;
  flex-direction: row;
  max-width: 249px;
  justify-content: space-between;
  list-style-type: circle;
  padding: 0;
  margin: 3.125% 10px 3.125% 6.25%;
}

.card-list li {
  display: flex;
  justify-content: space-evenly;
  color: #7a869a;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  list-style-type: circle;

  /* i don't know why it is not working */
  font-size: 15px;
  line-height: 20px;
}

.card-list li:first-of-type {
  list-style-type: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #344563;
}

#card-description {
  max-width: 700px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin: 3.125% 6.25%;
}

.card .tech {
  width: fit-content;
  max-width: 330px;
  margin-left: -7%;
}

.horizontal {
  display: none;
}

@media screen and (min-width: 440px) {
  .card .tech {
    margin-left: -18px;
  }
}

.button-container {
  display: flex;
  align-items: center;
  max-width: 700px;
  margin: 3.125% 6.5% 1% 6.5%;
  height: fit-content;
  gap: 10px;
  justify-content: space-between;
}

.card-button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background: #fff;
  color: var(--theme-color);
  font-family: "Poppins", sans-serif;
  font-size: 19px;
  font-weight: 500;
  line-height: 24px;
  border: 2px solid var(--theme-color);
  width: 100%;
  height: 51px;
  margin: 3.125% 0;
  transition: 0.3s;
  padding: 0;
  max-width: 170px;
}

.card-button:hover {
  background-color: var(--theme-color);
  color: #fff;
}

.card .tech li {
  margin-left: 10px;
}

.invisible {
  display: none !important;
}

@media screen and (min-width: 769px) {
  header {
    width: 100%;
    position: fixed;
    height: 1.5vh;
    background-color: #fff;
    z-index: 2;
  }

  /* navigation bar */
  nav ul {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 20%;
    height: fit-content;
  }

  nav {
    width: 100%;
    justify-content: space-between;
    background-color: #fff;
    padding: 0 10% 0 10%;
  }

  nav .desk {
    display: flex;
  }

  .desk .content {
    display: flex;
    flex-direction: row;
    list-style: none;
    color: var(--theme-color);
    gap: 0;
    font-size: 17px;
    margin: 0 0 0 50px;
  }

  .desk a {
    color: var(--theme-color);
  }

  nav li {
    display: flex;
    margin: 0 1em;
    height: 5vh;
    align-items: center;
    justify-items: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0;
    margin-bottom: 0;
    transition: all 0.5s ease-out;
    border-radius: 10px;
  }

  nav button {
    display: none;
  }

  .languages li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 120px;
    width: 25%;
    margin: 20px;
  }

  nav li:hover {
    background-color: #6070ff;
    color: #fff;
  }

  .menu {
    display: none;
  }

  /* introduction part */
  .introduction {
    background: url(media/intro-background-desk.svg);
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;
    margin-top: 72px;
    overflow: visible;
    border-radius: 0 0 0 150px;
  }

  .intro {
    width: 80%;
    margin: 0 auto 0 18%;
    display: flex;
    flex-direction: column;
    align-self: center;
  }

  .description {
    width: 86.5%;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin-top: 20px;
  }

  .well {
    margin-top: 100px;
  }

  .solid-welcome {
    margin-top: 108px;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
  }

  /* projects */
  .projects {
    margin-top: 142px;
  }

  .project {
    width: 80%;
    height: auto;
    flex-direction: row;
    margin-bottom: 142px;
  }

  .project div {
    margin-top: -68px;
    margin-left: 32px;
  }

  .project:nth-of-type(even) {
    flex-direction: row-reverse;
    text-align: left;
  }

  .project img,
  iframe {
    width: 50%;
    height: 450px;
    border-radius: 8px;
  }

  .project-title {
    display: inline-block;
    margin-top: 30px;
  }

  .project-maker {
    width: 95%;
    max-width: 278px;
  }

  .tech {
    max-width: 328px;
    justify-content: left;
  }

  main button {
    margin: 108px 0 0 -32px;
  }

  /* about me */
  .aboutme {
    width: 100%;
    height: 140vh;
    flex-direction: row;
    margin-top: 150px;
  }

  .intro2 {
    width: 45%;
    margin-left: 5%;
    margin-top: -58px;
  }

  .info2 {
    width: 70%;
  }

  .experince {
    width: 45%;
    margin-top: 142px;
    margin-right: 125px;
  }

  .languages {
    display: flex;
    margin-left: 0;
    padding-left: 0;
  }

  .languages li:last-of-type {
    min-width: 114px;
  }

  .tech li:last-of-type {
    margin-left: 20px;
  }

  .languages li span {
    margin-left: 10px;
  }

  .skills hr {
    color: #dfe1e6;
    width: 100%;
  }

  footer {
    height: 100vh;
    background: url(media/footerdesk.svg), url(media/layerdesktop.svg);
    background-size: cover, cover;
    margin-top: -60px;
  }

  footer input {
    height: 48px;
    border-radius: 2px;
  }

  .formcon {
    width: 38%;
    margin-left: auto;
    margin-right: auto;
  }

  .submit {
    margin-left: auto;
    margin-right: auto;
    margin-top: -15px;
  }

  .mobi {
    display: none;
  }

  .card-container {
    height: 110vh;
  }

  .card {
    position: relative;
    top: -5vh;
    left: 1%;
    background-color: #fff;
    max-width: none;
    width: 90%;
    height: auto;
    border-radius: 32px;
  }

  .card-cross {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 40px;
  }

  .card h3 {
    font-size: 40px;
    margin: 4.17%;
  }

  .card-list {
    font-size: 20px;
    max-width: 342px;
    width: 37.7%;
    margin-left: 4.17%;
    margin-top: -28px;
  }

  .card-iframe,
  .card-image {
    max-width: none;
    margin: 40px 4.17% 0 4.17%;
    width: 88%;
    height: 87vh;
  }

  .card .tech {
    max-width: none;
    width: 100%;
    justify-content: space-evenly;
    margin-left: -34px;
  }

  .popupFooter {
    display: flex;
    justify-content: space-between;
    margin-right: 125px;
  }

  .functionality {
    width: 30%;
    margin-top: 62px;
  }

  #card-description {
    align-self: center;
    margin-top: 70px;
  }

  .horizontal {
    display: block;
    border-radius: 20px;
    color: #ebecf0;
    margin-left: 25px;
  }

  .button-container {
    align-self: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .card-button {
    width: 47.5%;
  }

  .card::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
  }

  .card::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px var(--theme-color);
    background-color: #fff;
  }
}
